{% extends 'layout/base.html.twig' %}
{% block body_layout %}
    {% include 'layout/flash_messages.html.twig' %}
    {% block header %}{% include 'layout/header.html.twig' %}{% endblock %}
    {% block body_wrapper %}
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
                <div class="pt-md-5 mt-md-5">
                    {% block body %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
    {% endblock %}
    {% block footer %}{% include 'layout/footer.html.twig' %}{% endblock %}
    {% block after_body_javascript %}{% include 'layout/javascript.html.twig' %}{% endblock %}
{% endblock %}