{% extends 'base.html.twig' %}
{% block body_id 'login' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}{% endblock %}
{% block body_wrapper %}
    {% block body %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form class="form-signin" action="{{ path('security_login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <h1 class="h3 mb-3 font-weight-normal">{{ 'Log in'|trans }}</h1>
            <label for="username" class="sr-only">{{ 'Username'|trans }}</label>
            <input type="text" id="username" class="form-control" placeholder="{{ 'username'|trans }}" name="_username" value="" required autofocus>
            <label for="inputPassword" class="sr-only">{{ 'password'|trans }}</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="{{ 'password'|trans }}" name="_password" value=""  required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Sign in'|trans }}</button>
        </form>
    {% endblock %}
{% endblock %}
{% block footer %}{% endblock %}
