{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}

    {% if backToList is not defined %}
    	<a href="{{ path('task_index') }}">back to list</a>
    {%endif%}
   <br />
    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
