<form method="post" action="{{ path('task_workflow_delete', {'id': task_workflow.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task_workflow.id) }}">
    <button class="btn">Delete</button>
</form>
