{% extends 'base.html.twig' %}

{% block title %}Edit TaskWorkflow{% endblock %}

{% block body %}
    <h1>Edit TaskWorkflow</h1>

    {{ include('task_workflow/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('task_workflow_index') }}">back to list</a>

    {{ include('task_workflow/_delete_form.html.twig') }}
{% endblock %}
