{% extends 'base.html.twig' %}

{% block title %}TaskWorkflow index{% endblock %}

{% block body %}
    <h1>TaskWorkflow index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Current status</th>
                <th>Available status</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task_workflow in task_workflows %}
            <tr>
                <td>{{ task_workflow.id }}</td>
                <td>{{ task_workflow.currentStatus.name }}</td>
                <td>{{ task_workflow.availableStatus.name }}</td>
                <td>{{ task_workflow.role }}</td>
                <td>
                    <a href="{{ path('task_workflow_show', {'id': task_workflow.id}) }}">show</a>
                    <a href="{{ path('task_workflow_edit', {'id': task_workflow.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_workflow_new') }}">Create new</a>
{% endblock %}
