{% extends 'base.html.twig' %}

{% block title %}New TaskWorkflow{% endblock %}

{% block body %}
    <h1>Create new TaskWorkflow</h1>

    {{ include('task_workflow/_form.html.twig') }}

    <a href="{{ path('task_workflow_index') }}">back to list</a>
{% endblock %}
