{% extends 'base.html.twig' %}

{% block title %}TaskWorkflow{% endblock %}

{% block body %}
    <h1>TaskWorkflow</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task_workflow.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ task_workflow.role ? task_workflow.role|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_workflow_index') }}">back to list</a>

    <a href="{{ path('task_workflow_edit', {'id': task_workflow.id}) }}">edit</a>

    {{ include('task_workflow/_delete_form.html.twig') }}
{% endblock %}
