{% extends 'base.html.twig' %}

{% block title %}TaskStatus index{% endblock %}

{% block body %}
    <h1>TaskStatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Priority</th>
                <th>Is_active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task_status in task_statuses %}
            <tr>
                <td>{{ task_status.id }}</td>
                <td>{{ task_status.name }}</td>
                <td>{{ task_status.priority }}</td>
                <td>{{ task_status.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('task_status_show', {'id': task_status.id}) }}">show</a>
                    <a href="{{ path('task_status_edit', {'id': task_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_status_new') }}">Create new</a>
{% endblock %}
