{% extends 'base.html.twig' %}

{% block title %}TaskStatus{% endblock %}

{% block body %}
    <h1>TaskStatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task_status.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ task_status.name }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ task_status.priority }}</td>
            </tr>
            <tr>
                <th>Is_active</th>
                <td>{{ task_status.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_status_index') }}">back to list</a>

    <a href="{{ path('task_status_edit', {'id': task_status.id}) }}">edit</a>

    {{ include('task_status/_delete_form.html.twig') }}
{% endblock %}
