{% extends 'base.html.twig' %}
{% block body_id 'login' %}


{% block title %}Todo list{% endblock %}
    {% block body %}

<div class="container-fluid">
<div class="row">
	<h2>Heloooo {{ user.fullname }}</h2>
{% if is_granted('ROLE_ADMIN') %}
	<div class="col">
  <a href="{{ path('task_handle') }}" class="btn btn-success">+ New</a>
  </div>
{%endif%}
</div>
</div>
<div id="shared-lists" class="row">
			{% for k,d in data %}
			<div id="example{{ k }}" class="list-group col">
				<h5>{{ d.status.name }}</h5>

				{% for task in d.tasks %}
				<div class="card">
				  <div class="card-header">
				    {{ task.name }}  <span class="user">{{ task.user.fullname }}</span> <span class="edit">{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('task_handle',{'id':task.id}) }}" class="btn btn-link">edit</a>{%endif%}</span>
				  </div>
				  <div class="card-body">
				    <p class="card-text">{{ task.description }}</p>


					{% if d.status.systemName == 'pending' %}
						<a href="{{ path('task_handle_status',{'id':task.id}) }}" class="btn btn-primary">Start</a>
						
					{% elseif d.status.systemName == 'in-progress' %}
						<a href="{{ path('task_handle_status',{'id':task.id}) }}" class="btn btn-success">Finish</a>
					{%endif%}

					{% if is_granted('ROLE_ADMIN') %}

					{% if d.status.systemName != 'closed' %}
					    	{% if d.status.systemName != 'cancelled'%}
						<a href="{{ path('task_handle_status',{'id':task.id, 'systemStatusName':'cancelled'}) }}" class="btn btn-danger">Cancel</a>
					    {%endif%}
					
					<a href="{{ path('task_handle_status',{'id':task.id, 'systemStatusName':'closed'}) }}" class="btn btn-warning">Close</a>
									    {%endif%}
					    
					{%endif%}

				  </div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}


    {% endblock %}
