<!doctype html>
<html lang="{{ app.request.locale }}">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{% block title %}{% endblock %}</title>
        {% block favicon %}{% include 'layout/favicon.html.twig' %}{% endblock %}
		{% block stylesheets %}{% include 'layout/style.html.twig' %}{% endblock %}
		{% block head %}{% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}" ontouchstart>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		{% block body_layout %}{% endblock %}
    </body>
</html>
