<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ToDo List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if is_granted('ROLE_ADMIN') %}
    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <a class="nav-link" href="{{ path('user_index') }}">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('task_status_index') }}">Task statuses</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ path('task_workflow_index') }}">Task workflow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('task_index') }}">Tasks</a>
      </li>
    </ul>
    {%endif%}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('security_logout') }}">Log out</a>
      </li>
    </ul>
  </div>
</nav>