<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


<script type="text/javascript">
/* 
 * SimplePopup
 * 
 * @requires jQuery >1.2
 * @author Petar Fedorovsky @ Dimedia http://dimedia.hr
 * plugin for simple creation of popup's
 * 
 * Licensed under the MIT licence:
 * http://www.opensource.org/licenses/mit-license.php
 */
var simplePopupContainer=[],SimplePopup=function(t){this.settings={DEBUG:!1,maxOverlays:10,cascade:!1,relativeElement:!1,content:!1,overlayClass:"simplePopupOverlay_",contentClass:"simplePopupContent_",contentHtmlId:"simplePopupContentHtml",contentHtmlReplace:!1,closeBtn:".simplePopupClose",overlayCss:{display:"table",position:"absolute","z-index":"3000",left:"0",top:"0",width:"100%",height:"100%",overflow:"auto","background-color":"rgb(0,0,0)","background-color":"rgba(0,0,0,0.8)"},contentCss:{"background-color":"#fefefe",margin:"auto",padding:"20px",border:"1px solid #888",width:"60%",position:"relative",top:"50px",height:"auto",display:"table"},contentClassInsert:!1,overlayClassInsert:!1,optionalData:!1,onBeforeOverlay:function(t,e){},onAfterOverlayShow:function(t,e){},onBeforeContent:function(t,e){},onAfterContentShow:function(t,e){},onBeforeContentClose:function(t,e){},showContentMethod:function(t,e){$(t).show()},closeContentMethod:function(t,e){$(t).fadeOut("slow",function(){e.removeFromDOM(e)})},ajax:{type:"POST",dataType:"html"},preloaderStyles:'#simplePopupPreloaderAfter,#simplePopupPreloaderBefore{content:"";position:absolute}#simplePopupPreloader{display:block;position:absolute;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;border:3px solid transparent;border-top-color:#F00;-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite;z-index:1001}#simplePopupPreloaderBefore{top:5px;left:5px;right:5px;bottom:5px;border-radius:50%;border:3px solid transparent;border-top-color:#F00;-webkit-animation:spin 2.5s linear infinite;animation:spin 2.5s linear infinite}#simplePopupPreloaderAfter{top:15px;left:15px;right:15px;bottom:15px;border-radius:50%;border:3px solid transparent;border-top-color:#F00;-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spin{0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}',preloaderColor:!1},this.overlayClassName="",this.overlayClass="",this.contentClassName="",this.contentClass="",this.containerId="",this.html="",this.validateUrl=function(t){return/((([A-Za-z]{3,9}:(?:\/\/)?)(?:[\-;:&=\+\$,\w]+@)?[A-Za-z0-9\.\-]+|(?:www\.|[\-;:&=\+\$,\w]+@)[A-Za-z0-9\.\-]+)((?:\/[\+~%\/\.\w\-_]*)?\??(?:[\-\+=&;%@\.\w_]*)#?(?:[\.\!\/\\\w]*))?)/i.test(t)},this.getContent=function(t){var e=$("#"+t.settings.contentHtmlId);if(e.length&&(t.settings.DEBUG&&console.log("Id with HTML data: "+e.html()),t.html=e.html(),t.showContent(t)),0!=t.settings.content)if(t.settings.DEBUG&&console.log("content not empty"),0!=t.settings.content.url){if(t.settings.DEBUG&&(console.log("url not empty :"+t.settings.content.url),console.log(t.validateUrl(t.settings.content.url))),t.validateUrl(t.settings.content.url)){t.settings.DEBUG&&console.log("URL FOUND, POST :"+t.settings.content.url);var n="object"==typeof t.settings.content.data?t.settings.content.data:{},s=t.settings.ajax,o={url:t.settings.content.url,data:n,success:function(e){t.html=e,t.showContent(t)}};"function"==typeof t.settings.ajax.success&&(o.success=t.settings.ajax.success),$.extend(!0,s,o),$.ajax(s)}}else 0!=t.settings.content.data&&"object"!=typeof t.settings.content.data&&(t.settings.DEBUG&&console.log("Inline HTML data: "+t.settings.content.data),t.html=t.settings.content.data,t.showContent(t));else t.html="",t.showContent(t)},this.getClassName=function(t){var e=t+"1";for(i=0;i<this.settings.maxOverlays;i++)if(0==$("."+t+i).length){e=t+i;break}return e},this.removeFromDOM=function(t){$(t.overlayClass).remove(),t.settings.DEBUG&&(console.log("removefd",t),console.log("overlay removed")),$(t.overlayClass).unbind("click"),$(t.contentClass).unbind("click"),$(t.settings.closeBtn).unbind("click"),simplePopupContainer.splice(t.containerId,1)},this.removePopup=function(t){if(t.settings.onBeforeContentClose($(t.contentClass),t),t.settings.contentHtmlReplace){var e=$(t.contentClass).html();$("#"+t.settings.contentHtmlId).html(e)}t.settings.closeContentMethod($(t.overlayClass),t)},this.calculateTopPosition=function(t){var e=t.settings.contentCss.top?t.settings.contentCss.top.match(/\d+(?:\.\d+)?/)[0]:0,n=parseInt(window.scrollY)+parseInt(e);t.settings.contentCss.top&&t.settings.contentCss.top.split(e)[1];if(0!=t.settings.cascade){t.settings.DEBUG&&console.log("cascade is on");var s=t.contentClassName.match(/\d+/),o=parseInt(s[0]);if(t.settings.DEBUG&&console.log("popup sufix: "+o),o>=1){var a="."+t.contentClassName.replace(o,o-1);$(a).length&&(n=parseInt($(a).position().top)+parseInt(e))}}return 0!=t.settings.relativeElement&&(n=parseInt($(t.settings.relativeElement).offset().top)+parseInt(e)),n},this.createContainer=function(t){t.settings.DEBUG&&console.log("before create container"),t.settings.onBeforeContent($(t.contentClass),t),$(t.overlayClass).append('<div class="'+t.contentClassName+'"></div>'),t.settings.DEBUG&&console.log("calculate position"),t.settings.contentCss.top=t.calculateTopPosition(t),$(t.contentClass).css(t.settings.contentCss).addClass(t.settings.contentClassInsert),$(t.contentClass).on("click",function(t){t.stopPropagation()}),$(t.contentClass).on("click",t.settings.closeBtn,function(e){e.stopPropagation(),t.removePopup(t)});var e=$(document).height();$(t.overlayClass).height(e)},this.create=function(){var t=this;t.overlayClassName=t.getClassName(t.settings.overlayClass),t.overlayClass="."+t.overlayClassName,t.contentClassName=t.getClassName(t.settings.contentClass),t.contentClass="."+t.contentClassName,t.settings.onBeforeOverlay($(t.overlayClass),t),t.settings.DEBUG&&(console.log("overlay...."),console.log('<div class="'+t.overlayClassName+'"></div>')),$("body").append('<div class="'+t.overlayClassName+'"></div>'),$(t.overlayClass).css(t.settings.overlayCss).addClass(t.settings.overlayClassInsert),$(t.overlayClass).on("click",function(){t.removePopup(t)}),$(t.overlayClass).show(),t.settings.onAfterOverlayShow($(t.overlayClass),t),t.createContainer(t),t.settings.DEBUG&&console.log("before get contents"),t.getContent(t)},this.showContentRunning=!1,this.showContent=function(t){t.showContentRunning||(t.showContentRunning=!0,t.settings.DEBUG&&console.log("after get contents"),t.html?($(t.contentClass).append(t.html),t.settings.DEBUG&&console.log("html object found")):t.settings.DEBUG&&console.log("html object not found"),t.settings.showContentMethod($(t.contentClass),t),t.settings.onAfterContentShow($(t.contentClass),t))},this.preloaderStart=function(){el=$("."+this.contentClassName),el.append('<div id="simplePopupPreloader"><style>'+this.settings.preloaderStyles+'</style><div id="simplePopupPreloaderAfter"></div><div id="simplePopupPreloaderBefore"></div></div>'),0!=this.settings.preloaderColor&&el.find("#simplePopupPreloader,#simplePopupPreloaderAfter,#simplePopupPreloaderBefore").css("border-top-color",this.settings.preloaderColor)},this.preloaderEnd=function(){el=$("."+this.contentClassName+" #simplePopupPreloader").remove()},$.extend(!0,this.settings,t),this.create(),simplePopupContainer.push(this),this.containerId=simplePopupContainer.length-1};
</script>