<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    .list-group {
		border: 1px solid;
		padding: 0.5em;
		margin-left: 0.1em;
	}
	.card-header .edit {
	position: absolute;
	right: -0.1em;
	top: -0.3em;
	}
	.card-header .user {
	float: right;
	margin-right: 1.7em;
	}
</style>