{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>{{ 'title.user_new'|trans }}</h1>

    
    {{ include('user/_form.html.twig', {'button_label': ('action.save' | trans)}) }}
    
{% endblock %}
